.homePage__container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1500px; */
}
.homePage__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -100%;
  height: 10%;
  /* object-fit: cover; */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.homePage__body {
  z-index: 100;
}
